.contact{
  margin-top: 5%;
}
.maincontact{
  margin-top: 15%;
}
.boxes {
  img{
    max-width: 70px;
  }
}

@media (max-width: 380px) {
  .maincontact{
    flex-direction: column;
    justify-content: space-around;
    margin: 45% 25% 15% 25%;
    .contact{
      flex-direction: column;
      justify-content: space-around;
    }
  }
  
}
