.navbar{
  h1{
    padding-left: 30%;
  }
    a{
          color: azure;
          text-decoration: none;
        }
      .container{ margin-right: 0;}
      }

    @media (max-width: 380px)
    {
      .container.navi.justify-content-end{
        justify-content: center !important;
      }
      .navbar{
        h1{
          margin: 0;
          padding: 0%;
        }
        .navi{
          margin: 0;
          padding: 0%;
        }
            } 
    }

