
  @font-face {
    font-family: 'xengalaxy';
    src: URL('../fonts/XenGalaxy-28jv.ttf') format('truetype');
  }
  @font-face {
    font-family: 'pressstart';
    src: URL('../fonts/PressStart2P-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'introfont';
    src: URL('../fonts/ChunkFive-Regular.otf') format('truetype');
  }


  * {
    box-sizing: border-box;
  }

  body {
    background: radial-gradient(ellipse at bottom, #22222A 0%, #22222A 0%);
    color: azure;
  }

  /* --------------------BACKGROUND-------------------- */
  .star {
    background: url(../Images/stars.png);
    background-repeat: repeat;
    z-index: -1;
    width: 100%;
    height: 480%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    animation: 400s twinkle linear infinite;
  }

  /*Moving stars */
  @keyframes twinkle {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -2000px 5000px;
    }
  }

  /* -------------------- HEADER ------------------- */

  .header {
    width: 50%;
    padding: 0;
  }

  .navbar {
    z-index: 7;
  }

  .header a {
    font-size: 25px;
    padding-top: 3%;
    display: inline-block;
    width: 25%;
    margin: 0;
    text-decoration: none;
    font-weight: 300;  
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header ul li {
    margin: 0;
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .underline {
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-image: radial-gradient(ellipse at bottom, #ffffff 0%, #000000 100%) 1;
    transition: .4s ease-in-out;
  }

  .one:hover a, .two:hover a, .three:hover a, .four:hover a, .fives:hover a {
    color: azure;
  }

  .two:hover ~ .underline {
    margin-left: 25%;
    border-bottom: 2px solid;
  }

  .three:hover ~ .underline {
    margin-left: 50%;
    border-bottom: 2px solid;
  }

  .four:hover ~ .underline {
    margin-left: 75%;
    border-bottom: 2px solid;
  }


  /* ----------------------HOME----------------------- */

  .main-title {
    margin-top: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .title {
    text-align: center;
    letter-spacing: 10px;
  }
  .hello{
    font-size: 35px;
  }
  .normal-text, .hello{
      background: -webkit-linear-gradient(white, #38495a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .nameintro {
    font-size: 45px;
    margin-top: 5%;
  }
  .nameintro2{
    font-size: 45px;
    margin-top: 3%;
  }

  .profile-photo img {
    border-radius: 50%;
    margin-bottom: 5%;
    width: 50%;
    position: relative;
  }

  /* ---------------------------ABOUT------------------- */

  .generalwrapper{
    border-radius: 20px;
    background-color: #38495a69;
    height: 100%;
    width: 60%;
  }

  .generalwrapper p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: -webkit-linear-gradient(white, white);
    -webkit-background-clip: text;
    margin: 3%;
  }

  /* ----------------------SKILLS--------------------- */

  .skills{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .icons {
    margin: 5%;
  }
  .icons a  {
    margin: 5%;
    z-index: 6;
  }
  .icons img {
    width: 8%;
  }
  svg {
    margin: 2%;
    width: 8%;
  }

  /* ---------------------- PROJECTS -------------------- */

  #leftpic{
    display: none;
  }
  #rightpic{
    display: flex;
  }
  .project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .project img{
    margin: 3%;
    width: 50%;
    border-radius: 10px;
  }
  .introproject{
    margin: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
#skillsused {
  margin: 5%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

  #skillsused div {
    color: azure;
    margin: 1%;
    padding: 2%;
    border: 1px solid white;
  }

  .introproject p {
    color: white;
    text-align: center;
    margin: 3%;
  }
  .introproject .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }

  .introproject .buttons a {
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
  
  .section{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .insection {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  /* ------------------CONTACT -------------- */

  .contact{
    color: azure;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  

  /* ----------------TO TOP BUTTON------------------- */

  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 2%;
    right: 2%; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 10px 30px 10px 30px; 
    border-radius: 10px;
  }


  /* ---------------MEDIA FOR PHONE AND TABLETS MAX width 1100px ------------------ */

  @media only screen and (max-width: 1100px) {
    .star{
      height: 400%;
    }
    #myBtn {
      opacity: 60%;
      padding: 5px 15px 5px 15px; 
    }
    .contact{
      flex-direction: column;
    }
    .header {
      width: 90%;
      font-size: 12px;
    }
    .header a {
      font-weight: bold;
      font-size: small;
    }
    .header ul {
      padding: 0;
    }
    .hello, .nameintro, .nameintro2 {
      font-size: medium;
    }
    .nameintro {
      margin-top: 6%;
    }
    .nameintro2{
      margin-top: 4%;
    }
    .generalwrapper{
      font-size: smaller;
      width: 80%;
    }
    .project{
      flex-direction: column;
      margin: 3%;
    }
    .project img{
      margin: 2%;
      width: 90%;
      border-radius: 10px;
    }
    .skillsused{
    width: 30%;
    }
    #leftpic{
      display: flex;
    }
    #rightpic{
      display: none;
    }
  }
