.opener{

  a{
    text-decoration: none;
    color: azure;
  }
  a:hover{
    text-decoration: none;
    color: azure;
  }
  button{
    border-radius: 20px;
  }
  img{
    max-width: 600px;
    max-height: 600px;
  }
}
@media (max-width: 380px ){
  .opener{
    img{
    
    max-width: 100%;
    max-height: 100%;
  }
}
}