.projectPage {
  
  img{
    max-width: 80px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
}
.carousel {
  max-width: 400px;
  background-color: gray;

  h3, p{

  }
  
}