.projecthome{
  margin-top: 7%;
}

.construction{
  margin: 20% 15% 0% 32%;
}
.projectPage {
  img{
    max-width: 80px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
}
.carousel {
  max-width: 400px;
  background-color: gray;
  
}

@media (max-width: 380px){
  .construction{
    margin: 50% 15% 0% 25%;
    }
}