.projectFolder {
      img{ 
        max-width: 200px;
    }
    img:hover{
      background-image: url(../Images/folder_open.png);
    }
    a{
      text-decoration: none;
      color: black;
      font-size: 50px;
    }
}